*{
    margin: 0px;
    padding: 0px;
}

/* font style */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* full body background color */
body{
    background-color: #1A0B2E;
}

/* navbar style */
.navbar{
    padding: 24px 200px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.nav-title{
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFFFFF;
}

.wave{
    background: linear-gradient(
        30deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-menu>ul{
    display: flex;
    gap: 32px;
}

.nav-menu>ul>li{
    list-style: none;
}

.nav-menu>ul>li>a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
}

.btn{
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    border: none;
    border-radius: 10000px;
    color: #FFFFFF;
    background: linear-gradient(
        30deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%
    );
}

.hamburger{
    display: none;
}










































/* mobile responsive for small device*/
@media screen and (max-width: 576px) {
    .navbar{
        padding: 18px 20px;
    }
    .nav-title{
        font-size: 1.75rem;
    }
    .nav-menu, .btn{
        display: none;
    }
    .hamburger{
        display: block;
    }
}