*{
    margin: 0px;
    padding: 0px;
}

/* font style */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* full body background color */
body{
    background-color: #1A0B2E;
}

/* navbar style */
.navbar{
    padding: 24px 200px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.nav-title{
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFFFFF;
}

.wave{
    background: linear-gradient(
        30deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-menu>ul{
    display: flex;
    gap: 32px;
}

.nav-menu>ul>li{
    list-style: none;
}

.nav-menu>ul>li>a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
}

.btn{
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 10000px;
    color: #FFFFFF;
    background: linear-gradient(
        30deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%
    );
}

.hamburger{
    display: none;
}

/* banner style */
.banner{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 760px;
}

.banner-container{
    align-items: center;
    text-align: center;
    justify-items: center;
    padding-top: 135px;
    padding-bottom: 100px;
}

.mic-container{
    margin-bottom: 40px;
}


.mic{
    position: absolute;
    top: 320px;
    left: 900px;
}

.new-badge{
    position: absolute;
    font-size: 1.12rem;
    font-weight: 600;
    color: #1A0B2E;
    padding: 8px 16px;
    background-color: #00FF88;
    border-radius: 10000px;
    top: 270px;
    left: 1060px;
}

.banner-title{
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
}

.banner-description{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.banner-buttons{
    display: flex;
    gap: 8px;
}

.subscribe-btn{
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    color: #00FF88;
    background-color: transparent;
}








































/* mobile responsive for small device*/
@media screen and (max-width: 576px) {
    /* navbar */
    .navbar{
        padding: 18px 20px;
    }
    .nav-title{
        font-size: 1.75rem;
    }
    .nav-menu, .btn{
        display: none;
    }
    .hamburger{
        display: block;
    }

    /* banner */
    .banner{
        width: 100%;
        height: 500px;
        background-size: cover;
        background-position: center;
    }

    .banner-container{
        padding: 0px 20px;
        padding-top: 70px;
        padding-bottom: 40px;
    }

    .mic-container{
        margin-bottom: 24px;
    }

    .mic-circle{
        width: 200px;
        height: 200px;
    }

    .mic{
        width: 60px;
        height: 80px;
        top: 200px;
        left: 220px;
    }

    .new-badge{
        font-size: 1rem;
        top: 140px;
        left: 280px;
    }
    .banner-title{
        font-size: 2.5rem;
    }

    .banner-buttons>.btn{
        display: block;
    }

}