*{
    margin: 0px;
    padding: 0px;
}


/* keyframe for animation */
@keyframes ratings{
    0%{
        left: 0;
    }
    25%{
        left: 100px;
    }
    50%{
        left: 0;
    }
    100%{
        left: -100px;
    }
}

/* small device keyframe for animation */
@keyframes ratings-small{
    0%{
        left: 0;
    }
    25%{
        left: 20px;
    }
    50%{
        left: 0;
    }
    100%{
        left: -20px;
    }
}


/* font style */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* full body background color */
body{
    background-color: #1A0B2E;
}

/* navbar style */
.navbar{
    padding: 24px 200px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.nav-title{
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFFFFF;
}

.wave{
    background: linear-gradient(
        30deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-menu>ul{
    display: flex;
    gap: 32px;
}

.nav-menu>ul>li{
    list-style: none;
}

.nav-menu>ul>li>a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff9c;
}

.btn{
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 10000px;
    color: #FFFFFF;
    cursor: pointer;
    background: linear-gradient(
        30deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%
    );
    transition: transform 2s ease-in-out;
}

/* challenge part */
.btn:hover{
    transform: scale(1.2) rotate(360deg);
}

.hamburger{
    display: none;
}

/* banner style */
.banner{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 760px;
}

.banner-container{
    align-items: center;
    text-align: center;
    justify-items: center;
    padding-top: 135px;
    padding-bottom: 100px;
}

.mic-container{
    margin-bottom: 40px;
    position: relative;
}


.mic{
    position: absolute;
    top: 90px;
    left: 120px;
}

.new-badge{
    position: absolute;
    font-size: 1.12rem;
    font-weight: 600;
    color: #1A0B2E;
    padding: 8px 16px;
    background-color: #00FF88;
    border-radius: 10000px;
    top: 20px;
    left: 250px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}

.banner-title{
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
}

.banner-description{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff9c;
    margin-bottom: 24px;
}

.banner-buttons{
    display: flex;
    gap: 8px;
}

.subscribe-btn{
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    color: #00FF88;
    cursor: pointer;
    background-color: transparent;
    transition: transform 2s ease-in-out;
}
/* challenge part */
.subscribe-btn:hover{
    transform: scale(1.2) rotate(360deg);
}

/* about style */
.about-container{
    padding: 50px 200px;
    text-align: center;
}

.about-title{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.about-description{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff9c;
    margin-bottom: 80px;
}

hr{
    border: 1px solid rgba(128, 128, 128, 0.144);
    margin-bottom: 80px;
}

.about-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    animation: ratings 2s ease-in-out 0.25s infinite alternate;
}

.card-title{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
}

.card-details{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff9c;
}

/* why choose style */
.why{
    background-color: #230E3D;
}

.why-container{
    padding: 120px 200px;
}

.why-title{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 40px;
    text-align: center;
}

.why-cards{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
}
.card-1{
    grid-column: span 1;
    grid-row: span 2;
}
.card-2{
    grid-column: span 2;
}
.card-3{
    grid-column: span 2;
}

.card-4{
    grid-column: span 2;
}


.why-card{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
}

.why-card>img{
    margin-bottom: 16px;
}

.why-card-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.why-card-description{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff9c;
}
/* episode section */
.episodes{
    padding: 120px 200px;
}

.episodes-title{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 40px;
    text-align: center;
}

.episode-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 30px;
}
.episode-card{
    display: flex;
    flex-direction: column;
    height: 100%;
}

iframe{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.video-details{
    padding: 24px;
    background-color: #250D44;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    flex-grow: 1;
}

.video-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.video-description{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff9c;
    margin-bottom: 12px;
}

.time{
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    display: flex;
    align-items: center;
    gap: 6px;
}

/*host-challenge-section*/
.host-container{
    margin-top: 120px;
}

.host-title{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
}

.about-host{
    display: flex;
    gap: 24px;
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    align-items: center;
}

.host-name{
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.host-description{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff9c;
    margin-bottom: 16px;
}

.host-social{
    display: flex;
    align-items: center;
    gap: 8px;
}
.social-icon{
    width: 36px;
    height: 36px;
    border: 1px solid #533C72;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer style */
footer{
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.footer-container{
    padding: 120px;
    text-align: center;

}

.footer-title{
    font-size: 4rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.icons-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 520px;
    padding-right: 408px;
    margin-bottom: 41px;
}

.icons{
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff9c;
    display: flex;
    align-items: center;
    gap: 6px;
}

.copy-right{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff9c;
}










/* mobile responsive for small device*/
@media screen and (max-width: 576px) {
    /* navbar */
    .navbar{
        padding: 18px 20px;
    }
    .nav-title{
        font-size: 1.75rem;
    }
    .nav-menu, .btn{
        display: none;
    }
    .hamburger{
        display: block;
    }

    /* banner */
    .banner{
        width: 100%;
        height: 500px;
        background-size: cover;
        background-position: center;
    }

    .banner-container{
        padding: 0px 20px;
        padding-top: 70px;
        padding-bottom: 40px;
    }

    .mic-container{
        margin-bottom: 24px;
        position: relative;
    }

    .mic-circle{
        width: 200px;
        height: 200px;
    }

    .mic{
        width: 60px;
        height: 80px;
        top: 60px;
        left: 70px;
    }

    .new-badge{
        font-size: 1rem;
        top: 20px;
        left: 130px;
    }
    .banner-title{
        font-size: 2.5rem;
    }

    .banner-buttons>.btn{
        display: block;
    }

    /* about */
    .about-container{
        padding: 40px 20px;
    }

    .about-title{
        font-size: 2rem;
    }

    .about-description{
        margin-bottom: 40px;
    }
    hr{
        margin-bottom: 40px;
    }

    .about-cards{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
        animation: ratings-small 2s ease-in-out 0.25s infinite alternate;
    }
    .card-title{
        font-size: 2.5rem;
    }


    /* why choose */
    .why-container{
        padding: 40px 20px;
    }
    .why-title{
        font-size: 2rem;
        margin-bottom: 16px;
    }
    .why-cards{
        gap: 16px;
        grid-template-columns: repeat(1, 1fr);
    }
    .card-1{
        grid-row: 1;
    }
    .why-card{
        padding: 24px;
    }
    .why-card>img{
        margin-bottom: 4px;
    }

    .why-card-title{
        font-size: 1.2rem;
        margin-bottom: 8px;
    }

    /* episodes */
    .episodes{
        padding: 40px 20px;
    }
    .episodes-title{
        font-size: 2rem;
        margin-bottom: 24px;
    }
    .episode-cards{
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0px;
        gap: 16px;
    }
    .video-title{
        font-size: 1.25rem;
        margin-bottom: 8px;
    }

    /* host */
    .host-container{
        margin-top: 60px;
    }
    .host-title{
        font-size: 2rem;
        margin-bottom: 24px;
    }

    .about-host{
        flex-direction: column;
        gap: 16px;
        padding: 24px;
        border-radius: 24px;
        text-align: center;
    }

    .host-name{
        font-size: 1.5rem;
    }

    .host-social{
        display: flex;
        justify-content: center;
        gap: 8px;
    }

    /* footer */
    .footer{
        width: 100%;
        height: 250px;
        background-size: contain;
        background-position: center;
    }
    .footer-container{
        padding: 40px 20px;
    }
    .footer-title{
        font-size: 2rem;
        margin-bottom: 24px;
    }
    .icons-container{
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 24px;
        padding: 0px 72px;
        row-gap: 10px;
    }

}